img {
    width: 300px;
    height: auto
}

body {
    background-color: #F6F1F1;

}

main {
    background-color: #F6F1F1;
}

footer {
    background-color: #146C94;
}

header {
    background-color: #146C94;
}

h1 {
    text-align: center;
    font-size: 80px;
    color: #F6F1F1;
    font-family: Arial, sans-serif;
}

h2 {
    color: #146C94;
    font-family: Arial, sans-serif;
    text-decoration: underline;
}

h3 {
    color: #F6F1F1;
    font-family: Arial, sans-serif;
    text-decoration: underline;
}

p,
li {
    font-family: Arial, sans-serif;
    color: #146C94;
    line-height: 1.5;
}

.contacts {
    color: #F6F1F1;
}

button {
    background-color: #146C94;
    color: #F6F1F1
}

button:hover {
    background-color: #19A7CE;
    color: #F6F1F1;
}

.linkedin {
    width: 200px;
    height: 50px;
    font-size: 20px;
}

section {
    background-color: #AFD3E2;
}

#lmao {
    color:white;
}