body {
    background-color: #F6F1F1;

}

footer {
    background-color: #146C94;
}

header {
    background-color: #146C94;
}

img {
    width: 300px;
    height: auto
}

button {
    background-color: #146C94;
    color: #F6F1F1
}

h1 {
    text-align: center;
    font-size: 80px;
    color: #F6F1F1;
    font-family: Arial, sans-serif;
}

h2 {
    color: #146C94;
    font-family: Arial, sans-serif;
    text-decoration: underline;
}

h3 {
    color: #F6F1F1;
    font-family: Arial, sans-serif;
    text-decoration: underline;
}

p,
li {
    font-family: Arial, sans-serif;
    color: #146C94;
    line-height: 1.5;
}

.contacts {
    color: #F6F1F1;
}

button:hover {
    background-color: #19A7CE;
    color: #F6F1F1;
}

.linkedin {
    width: 200px;
    height: 50px;
    font-size: 20px;
    border-radius: 10px;
    margin-top: 12px;
    margin-left: 605px;
}

section {
    background-color: #AFD3E2;
}



#headshot {
    display: grid;
    margin-left: 550px;
    border: 7px #146C94 solid;
    border-radius: 20%;

}

.exp {
    width: 710px;
    display: inline-block;
    padding-top: 0;
}

#timslogo {
    padding-left: 230px;
    padding-top: 0;
    margin-bottom: 5px;
}

#mackenzie {
    padding-left: 230px;
    margin-bottom: 0;
    width: 220px;
    height: auto;
}

#workex {
    padding-bottom: 0;
}


#listing {
    display: inline;
}